<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
  "-//Hibernate/Hibernate Configuration DTD//EN"
  "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/rate3</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="connection.username">root</property>
    <property name="connection.password">testing</property>
      <mapping class="rate.db.AlgorithmEntity"/>
      <mapping class="rate.db.AlgorithmVersionEntity"/>
      <mapping class="rate.db.BenchmarkEntity"/>
      <mapping class="rate.db.ClazzEntity"/>
      <mapping class="rate.db.DeviceTypeEntity"/>
      <mapping class="rate.db.PersonEntity"/>
      <mapping class="rate.db.SampleEntity"/>
      <mapping class="rate.db.TaskEntity"/>
      <mapping class="rate.db.UserEntity"/>
      <mapping class="rate.db.ViewEntity"/>
      <mapping class="rate.db.ViewSampleEntity"/>
      <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>